= form_for([:admin, @feed]) do |f|
  .row
    .small-12.medium-2.columns
      = f.label :title
    .small-12.medium-10.columns
      = f.text_field :title
  .row
    .small-12.medium-2.columns
      = f.label :content
    .small-12.medium-10.columns
      = f.text_area :content, :class => 'ckeditor'
  %hr
  .row
    %center
      = f.submit "Update", :class => "button small radius"
