%input#save_post_to_user_path{:type => "hidden", :value => save_post_path}
.small-12.medium-6.columns
  - if @artice.present?
    .row
      %h3
        = @artice.title
    - if current_user
      .row
        %div{:id => "article-#{@artice.id}"}
          .medium-4.columns#count_like
            = @artice.likes.count 
            = "Like"
          .medium-4.columns#like_form
            - if current_user.like?(@artice)
              = render "shared/unlike", :article => @artice 
            - else
              = render "shared/like", :article => @artice
          .medium-4.columns#button_save_post
            - if current_user.feeds.exists? @artice
              = render "shared/saved_post_form"
            - else
              = render "shared/save_post_form", :article => @artice 
    .row
      %p
        = @artice.content
    .row
      #author
        = "Bai viet cua"
        %a{:href => "#{@artice.link}", :target => "_blank"}
          = @artice.page.try(:page_name)
    %hr
    - if user_signed_in?
      = render "comments/form"
    - @comments.each do |comment|
      = render "comments/comment_form", :comment => comment      