%input#save_post_to_user_path{:type => "hidden", :value => save_post_path}
.small-12.medium-6.columns
  - if @artice.present?
    .row
      %h3
        = @artice.title
    - if current_user
      .row
        %div{:id => "article-#{@artice.id}"}
          .medium-4.columns#count_like
            = @artice.likes.count 
            = "Like"
          .medium-4.columns#like_form
            - if current_user.like?(@artice)
              = render "shared/unlike", :article => @artice 
            - else
              = render "shared/like", :article => @artice
          .medium-4.columns
            - if current_user.feeds.exists? @artice
              %button{:class => "button small radius right"}
                = "Saved"
            - else
              %button{:id => "save_post_to_user_button", :id_artice => @artice.id, :class => "button small radius right"}
                = "Save Post"
    .row
      %p
        = @artice.content
    .row
      #author
        = "Bai viet cua"
        %a{:href => "#{@artice.link}", :target => "_blank"}
          = @artice.page.try(:page_name)