%input#save_post_to_user_path{:type => "hidden", :value => save_post_path}
.small-12.medium-9.columns
  - if @artice.present?
    .row
      %h3
        = @artice.title
    .row
      %button{:id => "save_post_to_user_button", :id_artice => @artice.id, :class => "button small radius right"}
        = "Save Post"
    .row
      %p
        = @artice.content
    .row
      #author
        = "Bai viet cua"
        %a{:href => "#{@artice.link}", :target => "_blank"}
          = @artice.page.try(:page_name)