.large-6.columns
  - if @feeds.present?
    - @feeds.each do |feed|
      .row
        .large-2.columns.small-2
          = image_tag feed.picture
        .large-10.columns.small-10
          .row
            %p
              %strong
                = feed.try(:title)
          .row
            %p
              = feed.content[0..100] + "..." if feed.content.present?
          .row.right
            %a{:href => website_article_path("#{feed.id}")}
              = "Read more >>"
        %hr
