!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "website_app"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .small-11.medium-5.columns.small-centered.medium-centered
      = yield
    = javascript_include_tag "website_app"